name: CI for project NT118

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write

jobs:
  fe-ci:
    uses: thuantv-uit/ci-cd-templates/.github/workflows/ci-reusable.yml@main
    with:
      # -------- Environment --------
      language: node
      version: "20"
      workdir: mobile

      # -------- Job Toggles --------
      enable_detect_job: true
      enable_setup_job: true
      enable_build_job: true
      enable_sonar_job: true
      enable_trivy_job: true

      # -------- Detect change --------
      change_filters: |
        mobile:
          - "mobile/**"

      # -------- Build / Test --------
      install_cmd: npm ci
      build_cmd: npm run build

      # -------- Sonar --------
      project_key: thuantv-uit_test-ci-cd-templates
      organization: thuantv-uit
      extra_args: >-
        -Dsonar.projectBaseDir=mobile
        -Dsonar.sources=.
        -Dsonar.exclusions=**/node_modules/**,**/dist/**,**/build/**,**/coverage/**
        -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info

      # -------- Trivy --------
      trivy_image_name: mobile-app
      trivy_image_tag: ${{ github.sha }}
      trivy_severity: "CRITICAL"
      trivy_exit_code: 1

      # -------- Jest --------
      test_cmd_jest: npm test -- --coverage --coverageReporters="lcov" --coverageReporters="text"
      start_db_cmd: make db_test_up
      close_db_cmd: make db_test_down

    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}